# User Testing Report

User testing was conducted by Grace Morton on October 22nd 2012, between the times of 3:00PM and 6:00PM with the following participants:

- Lisa Villeneuve
- Tirzah Wood
- {Jordan Doe}

## Tasks

1. Find the news articles on Home Page
2. Find article Page
3. How to get back 'Home'

---

## Individual Results & Observations

### Dima Badawi

- Easy to find
- Simple

### Kathryn Hallett

- Simple
- Straight-forward

### Lisa Villeneuve

- straight-forward
- likes the colour scheme
- Clean
- Used Type well, so user knew what page they were on.
- Suggested changing 'News' grid on large screen.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- No Complaints

### Serious, Causes Frustration, May Hinder Completion

- No Complaints

### Minor, Annoying, Won’t Hinder Completion

- There was a change in my header that needed to be fixed,which 2 user's noticed. I fixed the header before the 3rd year looked at my site.
- Made the grid suggestion on home page that Lisa suggested.
