html {
	font-family: Helvetica, sans-serit;
	font-size: 14px;
	background-image:url(../img/noisy-texture-sky-blue.png);
	background-repeat:repeat;
	background-color:rgba(129,226,232,1);

}

.header-box {
	background-image:url(../img/noisy-texture-rusty-orange.png);
	background-repeat:repeat;
	background-color:rgba(0,204,204,1)
	
}

/* MAIN ----------------------------------------------------*/

#main .wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  min-height: 500px;
  font-size: 16px;
  line-height: 1.5em;
}

/* HEADER ----------------------------------------------------*/
header {
	background-image:url(../img/noisy-texture-rusty-orange.png);
	background-repeat:repeat;	
	background-color:rgba(182,50,0,1);
	min-height: 180px;
	margin: -1em;
}

header #logo:hover {
	opacity: 0.8;
}
header #logo img {
	padding-top:1em;
	display: block;
	margin: 40px auto;
	border: 0;
}


h1 { 
	font-family: 'Amatic SC', cursive; 
	font-weight: 550; 
	color: #fff;
	font-size: 55px;
	text-align:center;
	float: right;
	position: relative;
	right: 45%;
	margin-top: 1em;
	}

h2 { 
	font-family: 'Amatic SC', cursive; 
	font-weight: 400; 
	line-height: 1.3em;
	font-size: 45px;
	margin-top:-.050em;
	}

h3 { 
	font-family: 'Amatic SC', cursive; 
	font-weight: 400; 
	font-size: 25px;
	line-height: 1em;

	}
/*
h1{
	font-style:normal;
	font-family: "Mensch";
	font-size: 23px;
	font-style:normal;
  	line-height: 1.3em;
	margin-left: 8px;nav
	margin-top: 20px;
	margin-bottom: 0;
	text-transform: uppercase;
	color:#069;
	text-shadow: 0px 2px 0 rgba(0, 0, 0, 0.3);
	/*color: rgba(204,51,51,1);*/
	
*/

}

h2{
	font-style:normal;
font-family: 'Amatic SC', cursive; 
	font-size: 50px;
	font-style:normal;
  	line-height: 1.3em;
	margin-left: 8px;
	margin-top: 20px;
	color:#069;
	/*color: rgba(204,51,51,1);*/
}

blockquote {
	margin-left: 8px;
	margin-top: 20px;
	font-size: 18px;
	text-transform: none;
	color:#FFF;
	line-height: 1.5em;
}


/* NAVIGATION ------------------------------------------------------------*/
nav {
	height: 68px;
	float: left;
	width: 100%;
	margin-top: 0px;
	position: relative;
  /*background: url(../img/ribbon.png) no-repeat top center;*/
}
#nav {
	clear: left;
	display: inline-block;
	float: right;
	position: relative;
	right: 50%;
	text-align: center;
}
#nav > li {
	margin-top: 0em;
	padding: 0;
	display: inline-block;
	float: right;
	position: relative;
	left: 50%;
font-family: Tahoma, Geneva, sans-serif;
	word-spacing: -0.1em;
	font-size: 30px;
  /* sub navigation -----------------------------------------------------*/
}


#nav > li.current-menu-item i,
#nav > li.current_page_item i {
	display: inline-block;
}
#nav > li a {
	display: inline-block;
	padding: 20px 10px 0px 10px;
	color: #f3e4c8;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
#nav > li a:hover i {
	display: inline-block;
}
#nav > li a i {
	display: none;
	width: 16px;
	height: 16px;
	position: absolute;
	left: 50%;
	top: -5px;
}
#nav > li a i b {
	position: absolute;
	display: inline-block;
	background: url(../img/current.png) no-repeat 0px 0px;
	width: 16px;
	height: 16px;
	left: -8px;
	bottom: -7px;
	padding-bottom: -3em;
}
#nav > li ul {
	font-size: 14px;
	font-family: Tahoma;
	text-align: left;
	margin-top: 20px;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
#nav > li ul li {
	border-top: 1px solid #a03a26;
	border-bottom: 1px solid #812f1e;
}
#nav > li ul li a {
	padding: 10px;
	background: #963724;
}
#nav > li ul li a:hover {
	background: #a03a26;
}
#nav > li ul li:last-child {
	border-bottom: none;
}
/* COMBO NAVIGATION ------------------------------------------------------------*/
#comboNav {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 30px;
	float: left;
}
/* MAIN ----------------------------------------------------*/
#main .wrapper {
	margin-top: 60px;
	margin-bottom: 50px;
	min-height: 500px;
	color: #444;
	font-size: 16px;
	line-height: 1.5em;
}
/* HEALINE ----------------------------------------------------*/
.headline {
	color: #cb5432;
	text-align: center;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 48px;
	line-height: 1.3em;
	word-spacing: -0.1em;
	text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.5);
	margin-bottom: 20px;
}
/* FEATURE ----------------------------------------------------*/
.feature {
	width: 960px;
	margin-left: -20px;
}
.feature li {
	position: relative;
	background: #f3e4c8;
	width: 300px;
	margin-bottom: 50px;
	margin-left: 20px;
	box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.feature li .thumb {
	display: block;
	margin: 10px;
	width: 280px;
}
.feature li .thumb img {
	max-width: 100%;
}
.feature li .caption {
	padding: 10px 10px 20px 10px;
	text-align: center;
}
.feature li a {
	color: #cb5432;
}
.feature li .thumb {
	position: relative;
}
.feature li .thumb .date {
	position: absolute;
	bottom: -25px;
	left: 110px;
	display: block;
	-moz-border-radius: 40px 40px 40px 40px;
	-webkit-border-radius: 40px 40px 40px 40px;
	border-radius: 40px 40px 40px 40px;
	height: 50px;
	width: 60px;
	background: #f3e4c8;
	float: left;
	font-family: Tahoma, Geneva, sans-serif; 
	padding-top: 10px;
}
.feature li .thumb .date span {
	display: block;
	text-align: center;
	font-size: 20px;
	line-height: 20px;
}

/*
#circle {
	width: 100px;
	height: 100px;
	background-image:url(../img/noisy-texture-100x100-o5-d10-c-211a15-t0.png);
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	margin:auto;
	
}*/


footer{
	/*
	background-image:url(../img/noisy-texture-100x100-o5-d10-c-211a15-t0.png);
	background-repeat:repeat;*/
	background-color:rgba(40,10,31,1);

	position: fixed;
	bottom: 0;
	width: 100%;
	/*height: 120px;*/
	text-align: center;
}


.button{
	background-color:rgba(204,51,51,1);
	padding: 7px;
	border-radius: 5px solid;
	box-shadow: 0 2px 4px rgba(0,0,0,0.5);
}


body {
	max-width: 800px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5em;
  
  /*background:#003 url(../img/grunge.png) repeat-x center 150px;*/
}




#bottom { /*add brown/gray grainy colour to this*/
	background-image:url(../img/noisy-texture-100x100-o5-d10-c-211a15-t0.png);
	background-repeat:repeat;
	background-color:rgba(37,9,21,1);
 /* background: #4d4d4d;*/
	position: relative;
	min-height: 20px;
	border-top: 1px solid #656565;
}
#bottom #widget-trigger-holder {
  position: relative;
  left: 50%;
  text-align: center;
  float: left;
  margin-top: -15px;
}
#bottom #widget-trigger-holder #widget-trigger {
  display: block;
  position: relative;
  float: left;
  right: 50%;
  width: 35px;
  height: 36px;
  background:url(../img/widget-trigger-grainy2.png) no-repeat 0px 0px;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
#bottom #widget-trigger-holder #widget-trigger.tab-closed {
  background-position: 0px -36px;
}
#bottom #content {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: #f1f1f1;
  font-size: 14px;
  line-height: 1.5em;
  clear: both;
}
#bottom #content a {
  color: #fdd600;
}
#bottom #content a:hover {
  text-decoration: underline;
}







@media only screen and (min-width: 15em) {

h1{
	margin-bottom: .25em;
}

body {
	max-width: 100%;
}


/* NAVIGATION ------------------------------------------------------------*/

nav {
	height: 68px;
	float: left;
	width: 100%;
	margin-top: 0px;
	position: relative;
}

#nav {
	clear: left;
	display: inline-block;
	float: right;
	position: relative;
	right: 50%;
	text-align: center;
}
#nav > li {
	display: inline-block;
	float: left;
	position: relative;
	left: 50%;
font-family: Tahoma, Geneva, sans-serif; 
	word-spacing: -0.1em;
	font-size: 17px;
	line-height: 1em;
  /* sub navigation -----------------------------------------------------*/
}


#nav > li.current-menu-item i,
#nav > li.current_page_item i {
  display: inline-block;
}
#nav > li a {
  display: inline-block;
  padding: 20px 10px 0px 10px;
  color: #f3e4c8;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
#nav > li a:hover i {
  display: inline-block;
}
#nav > li a i {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: -4px;
}
#nav > li a i b {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  left: -8px;
  bottom: -7px;
  padding-bottom: -3em;
}
#nav > li ul {
  font-size: 14px;
  font-family: Tahoma;
  text-align: left;
  margin-top: 19px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
#nav > li ul li {
  border-top: 1px solid #a03a26;
  border-bottom: 1px solid #812f1e;
}
#nav > li ul li a {
  padding: 10px;
  background: #963724;
}
#nav > li ul li a:hover {
  background: #a03a26;
}
#nav > li ul li:last-child {
  border-bottom: none;
}
/* COMBO NAVIGATION ------------------------------------------------------------*/

#comboNav {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
}
/* MAIN ----------------------------------------------------*/#main .wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  min-height: 500px;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
}
}

@media only screen and (min-width: 30em) {

/* NAVIGATION ------------------------------------------------------------*/
h1{
	margin-bottom: 1em;
	
}


nav {
	height: 68px;
	float: left;
	width: 100%;
	margin-top: -5em;
	position: relative;
}

#nav {
	clear: left;
	display: inline-block;
	float: right;
	position: relative;
	right: 50%;
	text-align: center;
}
#nav > li {
	display: inline-block;
	float: left;
	position: relative;
	left: 50%;
font-family: Tahoma, Geneva, sans-serif; 
	word-spacing: -0.1em;
	font-size: 17px;
	line-height: 1em;
  /* sub navigation -----------------------------------------------------*/
}


#nav > li.current-menu-item i,
#nav > li.current_page_item i {
  display: inline-block;
}
#nav > li a {
  display: inline-block;
  padding: 20px 10px 0px 10px;
  color: #f3e4c8;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
#nav > li a:hover i {
  display: inline-block;
}
#nav > li a i {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: -4px;
}
#nav > li a i b {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  left: -8px;
  bottom: -7px;
  padding-bottom: -3em;
}
#nav > li ul {
  font-size: 14px;
  font-family: Tahoma;
  text-align: left;
  margin-top: 19px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
#nav > li ul li {
  border-top: 1px solid #a03a26;
  border-bottom: 1px solid #812f1e;
}
#nav > li ul li a {
  padding: 10px;
  background: #963724;
}
#nav > li ul li a:hover {
  background: #a03a26;
}
#nav > li ul li:last-child {
  border-bottom: none;
}
/* COMBO NAVIGATION ------------------------------------------------------------*/

}





body a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body p {
  margin-bottom: 21px;
  color:rgba(102,102,102,1);
}

.buckets{
	background-image:url(../img/noisy-texture-100x100-o5-d10-c-f5eeda-t0.png);
  background-repeat:repeat;	
}

.vertical-lines {
    border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	margin-right: 1px;
}

.horizontal-line {
	border: 0;
	border-bottom: 1px solid #666;
}


.clearfix:before,
.clearfix:after {
	display: table;
	content: "";
}

.clearfix:after {
	clear: both;
}

article {
	width:80%;
	/*background-color:#F4E8D4;
/*	background-color:#F7F6E1;
*/
	margin-top:0;
	margin-right:auto;
	margin-bottom: 5.1em;
	margin-left:auto;
}

/* PAGE CONTENT ----------------------------------------------------*/
.page-content {
  position: relative;
  background-image:url(../img/noisy-texture-100x100-o5-d10-c-f5eeda-t0.png);
  background-repeat:repeat;
  background-color:rgba(255,204,102,1);
  /*background: #f3e4c8;*/
  color: #585246;
  padding: 50px 30px 60px 30px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
.page-content .heading {
  border-bottom: 5px solid #585246;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

/*
.page-content .c-1,
.page-content .c-2,
.page-content .c-3,
.page-content .c-4 {
  position: absolute;
  width: 48px;
  height: 50px;
}
.page-content .c-1 {
  top: 0px;
  left: 0px;
  background:url(../img/corner-1.png) no-repeat top left;
}
.page-content .c-2 {
  top: 0px;
  right: 0px;
  background: url(../img/corner-2.png) no-repeat top left;
}
.page-content .c-3 {
  bottom: 0px;
  left: 0px;
  background:url(../img/corner-3.png) no-repeat top left;
}
.page-content .c-4 {
  bottom: 0px;
  right: 0px;
  background:url(../img/corner-4.png) no-repeat top left;
}
*/

#logo{
	padding-top:.25em;
}

header #logo:hover {
  opacity: 0.8;
}
header #logo img {
	display: block;
	margin: -9px auto;
	margin-top: 1em;

}
/*
header {
	background-image:url(../img/noisy-texture-100x100-o5-d10-c-b83d27-t0.png);
	background-repeat:repeat;	
	
	/*background: url(../img/header.png);*/
}
/*
body {
	background: #95c9c3 url(../img/grunge.png) repeat-x center 150px;
	/*background-color:#003;*/
}

/* Header and Nav */
.logo {
	text-align: center;
	border: 0;
}









header .logo {
	text-align: center;
}

nav{
	margin: 0;
	
}
/*
nav ul {
	padding-left: 0px;
	background:url(../img/filter.png);
	background-repeat:no-repeat;
	padding-top: 15px;
	padding-bottom: 7px;
	margin-bottom: 0;
}

nav ul li {
	display: inline;
	padding:1em;
	font-size: 16px;
	color:#333;
	list-style-type: none;
	letter-spacing: normal;
	text-align: center;
	padding-bottom: 3px;
	
}
*/

a:link {text-decoration:none; color:#FFF}
a:visited {text-decoration:none; color:#FFF;}
a:hover {text-decoration:none; color:#654A35;}
a:active {text-decoration:none; color: #FFF;}
/*color: #654A35*
rgba(204,51,51,1)/

/*
@media only screen and (min-width: 33.75em) {
	
	h1 {
		font-size:18.5px;
	}
	
	nav ul {
		text-align: center;
		padding-top: 15px;
		padding-bottom: 20px;

		background-color:transparent;

	}
	
	nav ul li {
		display: inline;
		padding-right: 22px;
	}
	
}

@media only screen and (min-width: 40em) {
	
	/* HEADER ----------------------------------------------------*/
/*header {
 min-height: 50px;
}
	
	h1 {
		font-size:22px;
	}
	
	header .logo h1{
		float: left;
		margin-bottom: 5px;
	}
	
	nav ul {
		float: right;
		overflow: hidden;
		margin-top: 30px;
	}	
}

/*Body*/
/*
h2 {
	font-size: 17px;
	text-transform: uppercase;
}

h3 {
	color:#666;
	font-size: 16px;
}*/

p {
	font-size: 14px;
}

/*Grid*/
.flex-img {
	width:100%;
	margin-top:0;
	margin-right:auto;
	margin-bottom: 0;
	margin-left:auto;
	display: block;
	alignment-adjust:middle;
	}
	
.banner{
	float:none;
}
/*
footer {
	background-image:url(../img/noisy-texture-100x100-o5-d10-c-b83d27-t0.png);
	background-repeat:repeat;	
	position:absolute;
	margin-bottom:-15em;
	margin-left:-1.5em;
	bottom:0px;
	width:100%;
	height:80px;   /* Height of the footer 
}*/
	
}


@media only screen and (min-width: 60em) {
	
	nav {
	height: 68px;
	float: left;
	width: 100%;
	margin-top: -5em;
	position: relative;
	}
	
	#nav > li {
	display: block;
	float: left;
	position: relative;
	left: 50%;
font-family:Tahoma, Geneva, sans-serif;
	word-spacing: -0.1em;
	font-size: 20px;
  /* sub navigation -----------------------------------------------------*/
}

}


/*large screen=60em*/
@media only screen and (min-width: 60em){
h1{
	font-size: 70px;
}

header {
	margin: -1.5em;
}

/* NAVIGATION ------------------------------------------------------------*/

nav {
	height: 68px;
	float: left;
	width: 100%;
	margin-top: -2em;
	position: relative;
  /*background: url(../img/ribbon.png) no-repeat top center;*/
}
#nav {
	clear: left;
	display: block;
	float: right;
	position: relative;
	right: 50%;
	text-align: center;
}
#nav > li {
	display: block;
	float: left;
	position: relative;
	left: 50%;
font-family: Tahoma, Geneva, sans-serif;
	word-spacing: -0.1em;
	font-size: 20px;
  /* sub navigation -----------------------------------------------------*/
}


#nav > li.current-menu-item i,
#nav > li.current_page_item i {
  display: block;
}
#nav > li a {
  display: block;
  padding: 20px 10px 0px 10px;
  color: #f3e4c8;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.3);
}
#nav > li a:hover i {
  display: block;
}
#nav > li a i {
  display: none;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: -4px;
}
#nav > li a i b {
  position: absolute;
  display: block;
  background: url(../img/current.png) no-repeat 0px 0px;
  width: 16px;
  height: 16px;
  left: -8px;
  bottom: -7px;
  padding-bottom: -3em;
}
#nav > li ul {
  font-size: 14px;
  font-family: Tahoma;
  text-align: left;
  margin-top: 19px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.1);
}
#nav > li ul li {
  border-top: 1px solid #a03a26;
  border-bottom: 1px solid #812f1e;
}
#nav > li ul li a {
  padding: 10px;
  background: #963724;
}
#nav > li ul li a:hover {
  background: #a03a26;
}
#nav > li ul li:last-child {
  border-bottom: none;
}
/* COMBO NAVIGATION ------------------------------------------------------------*/

#comboNav {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  float: left;
}
/* MAIN ----------------------------------------------------*/

#main .wrapper {
  margin-top: 60px;
  margin-bottom: 50px;
  min-height: 500px;
  color: #444;
  font-size: 16px;
  line-height: 1.5em;
}
/* HEALINE ----------------------------------------------------*/
.headline {
  color: #cb5432;
  text-align: center;
font-family: 'Amatic SC', cursive; 
  font-size: 48px;
  line-height: 1.3em;
  word-spacing: -0.1em;
  text-shadow: 3px 3px 0 rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}


}

@media only screen and (min-width: 768px) {
footer{
	width: 100%;
		
	
}
